SCHEDULE /WORKSTATION_DEF#MDM_DLY_JOBS
DESCRIPTION "Daily backup and maintainence tasks for the MDM."
AT 2330
CARRYFORWARD
:
/WORKSTATION_DEF#DATAEXPORT

/WORKSTATION_DEF#FILE_BACKUPS

/WORKSTATION_DEF#OPTMAN_EXPORT

/WORKSTATION_DEF#PLAN_PURGE

END